#face {
  background-color: #f3f3f3;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
}

#minutes, #hour, #seconds {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top center;
}

#hour {
  background-color: black;
  height: 100px;
  width: 8px;
  transform: rotate(125deg);
}

#minutes {
  background-color: grey;
  height: 120px;
  width: 4px;
  transform: rotate(255deg);
}

#seconds {
  background-color: red;
  height: 130px;
  width: 2px;
}