.container{
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  overflow: hidden;
}
.top-nav {
  height: 150px;
  background-color: green;
  margin: 15px;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  margin: 0 15px;
}
.main {
  height: 400px;
  width: 700px;
  background-color: red;
  margin-bottom: 15px;
  padding: 0 2px;
  
}
.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  margin: 15px;
}
#advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin: 15px;
}
.row {
  display: flex;
}
.sub-content:nth-child(2){
  margin: 15px 0px;
}
