.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-box {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: auto;
}

html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 901px) {
  .content-size {
    margin: 20px 10rem;
  }
}
@media screen and (max-width: 900px) {
  .content-size {
    margin: 20px 1rem;
  }
}

.main {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  overflow-y: scroll
}

.loading-container {
  align-items: center;
  border: none;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}